<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.demo.mapper.ArticleMapper">

    <select id="selectArticleByOrderId" parameterType="int"
            resultType="Article">
        SELECT * FROM tb_article WHERE id IN (
            SELECT article_id FROM tb_item WHERE order_id = #{id}
        )
    </select>
</mapper>