<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2025 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.demo.mapper.OrderMapper">

  <resultMap id="orderMap" type="org.apache.demo.entity.Order">
    <id property="id" column="id"></id>
    <result property="price" column="price"></result>

    <!-- 一对一关联查询 -->
    <association property="user" javaType="org.apache.demo.entity.User">
      <id property="id" column="user_id"></id>
      <result property="username" column="user_name"></result>
    </association>
  </resultMap>

  <select id="findOrders" resultMap="orderMap" >
    select * from orders, `user` u where orders.uid = u.user_id;
  </select>


  <select id="findOrderByUid" resultType="org.apache.demo.entity.Order">
    select * from orders where uid = #{uid}
  </select>
</mapper>
