<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.demo.mapper.UserMapper">

  <!-- 其他命名空间缓存配置的引用 -->
  <!--<cache-ref namespace=""/>-->
  <cache></cache>

  <!--
    useCache属性：用来本条sql设置是否禁用二级缓存的。设置useCache为false可以禁用当前select语句的二级缓存，
      即每次查询都会发出sql去查询数据库，默认值是true，即当前select语句使用二级缓存。
    flushCache属性：默认情况下为true，即刷新缓存。
     -->
  <select id="selectUserByCondition" parameterType="user" resultType="user"
          useCache="true" flushCache="true">
    select * from `user`
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="username != null">
        and username = #{username}
      </if>
    </where>
  </select>

  <!-- 开启并配置该命名空间的二级缓存，应用级缓存，生命周期是整个应用，可以跨线程使用：
  当开启了二级缓存
    1、映射语句文件中的所有 select 语句将会被缓存。
    2、映射语句文件中的所有 insert,update 和 delete 语句会刷新缓存。
    3、缓存会使用 Least Recently Used(LRU,最近最少使用的)算法来收回。
    4、根据时间表(比如 no Flush Interval,没有刷新间隔), 缓存不会以任何时间顺序 来刷新。
    5、缓存会存储列表集合或对象(无论查询方法返回什么)的 1024 个引用。
    6、缓存会被视为是 read/write(可读/可写)的缓存,意味着对象检索不是共享的,而 且可以安全地被调用者修改,而不干扰其他调用者或线程所做的潜在修改。
   -->
  <!--<cache></cache>-->

  <!--
    statementType （可选配置，默认配置为PREPARED）值为STATEMENT，PREPARED 或 CALLABLE 的一个。
    这会让 MyBatis 分别使用 Statement，PreparedStatement 或 CallableStatement，默认值：PREPARED。
   -->
  <select id="selectUser" resultType="User" statementType="PREPARED">
    SELECT user_id AS "id", user_name AS "username"
    FROM `user`
    WHERE user_id = #{id}
  </select>

  <select id="selectUserByConstructor" resultMap="userResultMap">
    SELECT *
    FROM `user`
    WHERE user_id = #{id}
  </select>


  <resultMap id="userResultMap" type="User">
    <!-- constructor：用于在实例化类时，注入结果到构造方法中 -->
    <constructor>
      <!-- idArg：id参数，标记出作为id的结果可以帮助提高整体性能 -->
      <!--<idArg name="id" column="user_id" javaType="int"/>-->
      <!-- arg：将被注入到构造方法的一个普通结果
          column：数据库中的列名，或者是列的别名。一般情况下，这和传递给 resultSet.getString(columnName) 方法的参数一样。
          name：构造方法形参的名字。从 3.4.3 版本开始，通过指定具体的参数名，你可以以任意顺序写入 arg 元素。
       -->
      <arg column="user_id" javaType="Integer"/>
      <arg column="user_name" javaType="String"/>
      <arg column="user_password" javaType="String"/>
    </constructor>
  </resultMap>

  <!--<select id="selectPerson"
          parameterType="int"
          parameterMap="deprecated"
          resultType="hashmap"
          resultMap="personResultMap"
          flushCache="false"
          useCache="true"
          timeout="10"
          fetchSize="256"
          statementType="PREPARED"
          resultSetType="FORWARD_ONLY">
      SELECT * FROM `user` WHERE user_id = #{id}
  </select>-->

</mapper>
