<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.demo.mapper.UserMapper">

    <resultMap id="userMap" type="org.apache.ibatis.demo.domain.User">
        <result property="id" column="id"></result>
        <result property="username" column="username"></result>

        <collection property="orderList" ofType="org.apache.ibatis.demo.domain.Order">
            <result property="id" column="oid"></result>
            <result property="orderTime" column="order_time"></result>
            <result property="total" column="total"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="userMap">
        select *,o.id oid from user u left join orders o on u.id=o.uid
    </select>

    <resultMap id="userRolesMap" type="org.apache.ibatis.demo.domain.User">
        <result property="id" column="userId"></result>
        <result property="username" column="username"></result>

        <collection property="roleList" ofType="org.apache.ibatis.demo.domain.Role">
            <result property="id" column="role_id"></result>
            <result property="roleName" column="role_name"></result>
            <result property="roleDesc" column="role_desc"></result>
        </collection>
    </resultMap>
    <select id="findUserAndRoles" resultMap="userRolesMap">
        select * from user LEFT JOIN sys_user_role on `user`.id=sys_user_role.user_id
        left JOIN sys_role on sys_user_role.role_id=sys_role.id
    </select>
</mapper>